<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fedu.vn</title>
</head>

<body>
    <h1> Day la giao dien fedu</h1>
    <% danhsach.danhsachsv.forEach(function (motphantu){
        %>

        <li>
            <%= motphantu %>
        </li>

        <%
    }) %>

    <%=
     JSON.stringify(danhsach)  
     %>
</body>

</html>